<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>★★★★★----------Base-----------★★★★★</key>
	<string>★★★★★----------Base-----------★★★★★</string>
	<key>Check_answer</key>
	<string>Base/Check_answer.png</string>
	<key>SumbMint_test</key>
	<string>Base/SumbMint_test.png</string>
	<key>OutFitCard</key>
	<string>Base/OutFitCard.png</string>
	<key>Experience_regist</key>
	<string>Base/Experience_regist.png</string>
	<key>Experience_exit</key>
	<string>Base/Experience_exit.png</string>
	<key>Repeat_test</key>
	<string>Base/Repeat_test.png</string>
	<key>Start_test</key>
	<string>Base/Start_test.png</string>
	<key>150_150</key>
	<string>Base/150_150.png</string>
	<key>btn_NavMoreV</key>
	<string>Base/btn_NavMoreV.png</string>
	<key>btn_NavAdd</key>
	<string>Base/btn_NavAdd.png</string>
	<key>btn_NavArrowUp</key>
	<string>Base/btn_NavArrowUp.png</string>
	<key>btn_NavArrowDown</key>
	<string>Base/btn_NavArrowDown.png</string>
	<key>btn_NavEdite</key>
	<string>Base/btn_NavEdite.png</string>
	<key>btn_NavMessage</key>
	<string>Base/btn_NavMessage.png</string>
	<key>btn_NavSearch</key>
	<string>Base/btn_NavSearch.png</string>
	<key>btn_NavCha</key>
	<string>Base/btn_NavCha.png</string>
	<key>btn_NavMore</key>
	<string>Base/btn_NavMore.png</string>
	<key>btn_NavBackDefault</key>
	<string>Base/btn_NavBackDefault.png</string>
	<key>btn_NavBack</key>
	<string>Base/btn_NavBackDefault.png</string>
	<key>btn_NavPerson</key>
	<string>Base/btn_NavPerson.png</string>
	<key>btn_NavPersons</key>
	<string>Base/btn_NavPersons.png</string>
	<key>btn_NavDocument</key>
	<string>Base/btn_NavDocument.png</string>
	<key>btn_NavFingerprint</key>
	<string>Base/btn_NavFingerprint.png</string>
	<key>btn_NavRefresh</key>
	<string>Base/btn_NavRefresh.png</string>
	<key>btn_NavOK</key>
	<string>Base/btn_NavOK.png</string>
	<key>btn_NavAppInfo</key>
	<string>Base/btn_NavAppInfo.png</string>
	<key>btn_CellArrow</key>
	<string>Base/btn_CellArrow.png</string>
	<key>btn_CellArrowDown</key>
	<string>Base/btn_CellArrowDown.png</string>
	<key>btn_CellArrowUp</key>
	<string>Base/btn_CellArrowUp.png</string>
	<key>btn_UnSelectN</key>
	<string>Base/btn_UnSelectN.png</string>
	<key>btn_UnSelectH</key>
	<string>Base/btn_UnSelectH.png</string>
	<key>btn_SelectN</key>
	<string>Base/btn_SelectN.png</string>
	<key>btn_SelectH</key>
	<string>Base/btn_SelectH.png</string>
	<key>arrow_left</key>
	<string>Base/arrow_left.png</string>
	<key>arrow_right</key>
	<string>Base/arrow_right.png</string>
	<key>ico_LocationGray</key>
	<string>Base/ico_LocationGray.png</string>
	<key>ico_MoreArrowUp</key>
	<string>Base/ico_MoreArrowUp.png</string>
	<key>ico_MoreArrowDown</key>
	<string>Base/ico_MoreArrowDown.png</string>
	<key>ico_Check</key>
	<string>Base/ico_Check.png</string>
	<key>ico_CheckH</key>
	<string>Base/ico_CheckH.png</string>
	<key>ico_CheckN</key>
	<string>Base/ico_CheckN.png</string>
	<key>ico_CheckCircleN</key>
	<string>Base/ico_CheckCircleN.png</string>
	<key>ico_CheckCircleH</key>
	<string>Base/ico_CheckCircleH.png</string>
	<key>ico_ArrowUp</key>
	<string>Base/ico_ArrowUp.png</string>
	<key>ico_ArrowDown</key>
	<string>Base/ico_ArrowDown.png</string>
	<key>icon_Delete</key>
	<string>Base/icon_Delete.png</string>
	<key>ico_earth</key>
	<string>Base/ico_earth.png</string>
	<key>ico_phoneBook</key>
	<string>Base/ico_phoneBook.png</string>
	<key>ico_FriendMinus</key>
	<string>Base/ico_FriendMinus.png</string>
	<key>ico_FriendPlus</key>
	<string>Base/ico_FriendPlus.png</string>
	<key>ico_HeartMinus</key>
	<string>Base/ico_HeartMinus.png</string>
	<key>ico_HeartPlus</key>
	<string>Base/ico_HeartPlus.png</string>
	<key>ico_Plane</key>
	<string>Base/ico_Plane.png</string>
	<key>ico_Agree</key>
	<string>Base/ico_Agree.png</string>
	<key>ico_Refuse</key>
	<string>Base/ico_Refuse.png</string>
	<key>ico_Cancel</key>
	<string>Base/ico_Cancel.png</string>
	<key>ico_Notice</key>
	<string>Base/ico_Notice.png</string>
	<key>ico_Wait</key>
	<string>Base/ico_Wait.png</string>
	<key>ico_Search</key>
	<string>Base/ico_Search.png</string>
	<key>ico_EmptyFile</key>
	<string>Base/ico_EmptyFile.png</string>
	<key>ico_EmptyData</key>
	<string>Base/ico_EmptyData.png</string>
	<key>ico_EmptyDataSmall</key>
	<string>Base/ico_EmptyDataSmall.png</string>
	<key>ico_EmptyAttendance</key>
	<string>Base/ico_EmptyAttendance.png</string>
	<key>ico_Delete</key>
	<string>Base/ico_Delete.png</string>
	<key>ico_SearchCustomer</key>
	<string>Base/ico_SearchCustomer.png</string>
	<key>ico_project</key>
	<string>Base/ico_project.png</string>
	<key>navBarBackgroud</key>
	<string>Base/navBarBackgroud.png</string>
	<key>navBarBackgroud7</key>
	<string>Base/navBarBackgroud7.png</string>
	<key>FileTypeS_XLS</key>
	<string>Base/FileTypeS_XLS.png</string>
	<key>FileTypeS_PPT</key>
	<string>Base/FileTypeS_PPT.png</string>
	<key>FileTypeS_DOC</key>
	<string>Base/FileTypeS_DOC.png</string>
	<key>FileTypeS_IMG</key>
	<string>Base/FileTypeS_IMG.png</string>
	<key>FileTypeS_VIDEO</key>
	<string>Base/FileTypeS_VIDEO.png</string>
	<key>FileTypeS_AUDIO</key>
	<string>Base/FileTypeS_AUDIO.png</string>
	<key>FileTypeS_PDF</key>
	<string>Base/FileTypeS_PDF.png</string>
	<key>FileTypeS_TXT</key>
	<string>Base/FileTypeS_TXT.png</string>
	<key>FileTypeS_XXX</key>
	<string>Base/FileTypeS_XXX.png</string>
	<key>FileTypeS_ZIP</key>
	<string>Base/FileTypeS_ZIP.png</string>
	<key>FileTypeL_XLS</key>
	<string>Base/FileTypeL_XLS.png</string>
	<key>FileTypeL_PPT</key>
	<string>Base/FileTypeL_PPT.png</string>
	<key>FileTypeL_DOC</key>
	<string>Base/FileTypeL_DOC.png</string>
	<key>FileTypeL_IMG</key>
	<string>Base/FileTypeL_IMG.png</string>
	<key>FileTypeL_VIDEO</key>
	<string>Base/FileTypeL_VIDEO.png</string>
	<key>FileTypeL_AUDIO</key>
	<string>Base/FileTypeL_AUDIO.png</string>
	<key>FileTypeL_PDF</key>
	<string>Base/FileTypeL_PDF.png</string>
	<key>FileTypeL_TXT</key>
	<string>Base/FileTypeL_TXT.png</string>
	<key>FileTypeL_XXX</key>
	<string>Base/FileTypeL_XXX.png</string>
	<key>FileTypeL_ZIP</key>
	<string>Base/FileTypeL_ZIP.png</string>
	<key>icon_VideoPlay</key>
	<string>Base/icon_VideoPlay.png</string>
	<key>user_default_avator</key>
	<string>Base/user_default_avator.png</string>
	<key>VideoPlay_Pause</key>
	<string>Base/VideoPlay_Pause.png</string>
	<key>VideoPlay_Play</key>
	<string>Base/VideoPlay_Play.png</string>
	<key>VideoPlay_Volume</key>
	<string>Base/VideoPlay_Volume.png</string>
	<key>VideoPlay_VolumeOff</key>
	<string>Base/VideoPlay_VolumeOff.png</string>
	<key>VideoPlay_SliderPoint</key>
	<string>Base/VideoPlay_SliderPoint.png</string>
	<key>VideoPlay_backwardGesture</key>
	<string>Base/VideoPlay_backwardGesture.png</string>
	<key>VideoPlay_forwardGesture</key>
	<string>Base/VideoPlay_forwardGesture.png</string>
	<key>VideoPlay_NeedDownload</key>
	<string>Base/VideoPlay_NeedDownload.png</string>
	<key>VideoPlay_NeedPlay</key>
	<string>Base/VideoPlay_NeedPlay.png</string>
	<key>musicBackground</key>
	<string>Base/musicBackground.png</string>
	<key>SectionArrow_Down</key>
	<string>Base/SectionArrow_Down.png</string>
	<key>SectionArrow_Right</key>
	<string>Base/SectionArrow_Right.png</string>
	<key>icon_networkWarning</key>
	<string>Base/icon_networkWarning.png</string>
	<key>icon_downloadedFlag</key>
	<string>Base/icon_downloadedFlag.png</string>
	<key>icon_secretary</key>
	<string>Base/icon_secretary.png</string>
	<key>btn_ImageDelete</key>
	<string>Base/btn_ImageDelete.png</string>
	<key>btn_AddImage</key>
	<string>Base/btn_AddImage.png</string>
	<key>KKMapPinView_CenterPoint</key>
	<string>Base/KKMapPinView_CenterPoint.png</string>
	<key>KKMapSearchCheck</key>
	<string>Base/KKMapSearchCheck.png</string>
	<key>btn_NavShare</key>
	<string>Base/btn_NavShare.png</string>
	<key>ServerUpdatingIcon</key>
	<string>Base/ServerUpdatingIcon.png</string>
	<key>btn_EditCommend</key>
	<string>Base/btn_EditCommend.png</string>
	<key>MapAnnotationImage</key>
	<string>Base/MapAnnotationImage.png</string>
	<key>★★★★★----------Common-----------★★★★★</key>
	<string>★★★★★----------Common-----------★★★★★</string>
	<key>ScanLoginWarning</key>
	<string>Common/ScanLoginWarning.png</string>
	<key>ScanLoginLine</key>
	<string>Common/ScanLoginLine.png</string>
	<key>ScanLoginFinderframe</key>
	<string>Common/ScanLoginFinderframe.png</string>
	<key>WebPopView_Copy</key>
	<string>Common/WebPopView_Copy.png</string>
	<key>【Music】★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</key>
	<string>★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★★</string>
	<key>Music_Home_BottomBtn_0H</key>
	<string>Music/Music_Home_BottomBtn_0H.png</string>
	<key>Music_Home_BottomBtn_0N</key>
	<string>Music/Music_Home_BottomBtn_0N.png</string>
	<key>Music_Home_BottomBtn_1H</key>
	<string>Music/Music_Home_BottomBtn_1H.png</string>
	<key>Music_Home_BottomBtn_1N</key>
	<string>Music/Music_Home_BottomBtn_1N.png</string>
	<key>Music_Home_BottomBtn_2H</key>
	<string>Music/Music_Home_BottomBtn_2H.png</string>
	<key>Music_Home_BottomBtn_2N</key>
	<string>Music/Music_Home_BottomBtn_2N.png</string>
	<key>Music_btn_NavCloud</key>
	<string>Music/Music_btn_NavCloud.png</string>
	<key>Music_btn_NavPlus</key>
	<string>Music/Music_btn_NavPlus.png</string>
	<key>Music_btn_NavList</key>
	<string>Music/Music_btn_NavList.png</string>
	<key>Music_next</key>
	<string>Music/Music_next.png</string>
	<key>Music_order</key>
	<string>Music/Music_order.png</string>
	<key>Music_orderRandom</key>
	<string>Music/Music_orderRandom.png</string>
	<key>Music_orderReplay</key>
	<string>Music/Music_orderReplay.png</string>
	<key>Music_play</key>
	<string>Music/Music_play.png</string>
	<key>Music_prev</key>
	<string>Music/Music_prev.png</string>
	<key>Music_pause</key>
	<string>Music/Music_pause.png</string>
	<key>Music_btn_cell_tag</key>
	<string>Music/Music_btn_cell_tag.png</string>
	<key>Music_btn_cell_tag_gray</key>
	<string>Music/Music_btn_cell_tag_gray.png</string>
	<key>Music_placeholder</key>
	<string>Music/Music_placeholder.png</string>
	<key>Music_download</key>
	<string>Music/Music_download.png</string>
	<key>Music_btn_search</key>
	<string>Music/Music_btn_search.png</string>
	<key>Music_btn_pop_cha</key>
	<string>Music/Music_btn_pop_cha.png</string>
	<key>Music_btn_arrow_down</key>
	<string>Music/Music_btn_arrow_down.png</string>
	<key>★★★★★----------End-----------★★★★★</key>
	<string>★★★★★----------End-----------★★★★★</string>
</dict>
</plist>
